body {
  background: #000;
  color: #fff;
  margin: 0;
}
#pix-block {
  width: 100%;
  line-height: 0;
}
#pix-block span {
  display: inline-block;
  position: relative;
  height: 0;
  width: 1%;
  padding-bottom: 1%;
  font-size: 0;
  vertical-align: top;
  outline: 1px solid #000;
}
#canvas-src-image, #canvas-mod-image {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}
.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block-code {
  word-wrap: break-word;
  font-family: monospace;
  font-size: 16px;
  height: 500px;
  overflow-y: scroll;
}

#x_y_cord {
  margin-top: 20px;
}

[class*="block-grid-"] > li {
display: block;
height: auto;
float: left;
padding: 0 0 6px !important;
}

.pix_n {
  width: 30px;
  height: 30px;
  background: #999;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  color: #000;
}

.pix_n:hover {
  background: #61b6d9;
}

.pix_n.selected {
  background: #f9cc9d;
}

.is-hidden {
  display: none;
}

.ui-hidden {
  height: 0 !important;
  opacity: 0 !important;
  overflow: hidden !important;
}

#file-input {
  display: none;
}

#src-img {
  display: none;
}


/*Drop*/
#dropzone {
  position: relative;
  padding: 20px;
  margin: 10px;
  background: #444;
  color: #fff;
  width: 500px;
  height: 400px;
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #aaa;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #444, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  text-shadow: -1px -1px #aa3030;
  font-weight: normal;
  text-align: center;
  transition: background .3s;
}

#dropzone.mouseover {
  background: #595959;
}

#dropzone .img-cont {
  position: relative;
  height: 100%;width: 100%;
}

#dropzone img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

#dropzone:hover:after , #dropzone.mouseover:after {
  color: #aaa;
}

#dropzone.loaded:after {
  display: none;
}


#dropzone:after {
  transition: color .3s;
  color: #777;
  content: "Загрузите Ваше изображение";
  text-shadow: none;
  font-weight: 300;
  width: 100%;
  position: absolute;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

