body {
  background: #000;
  color: #fff;
  margin: 0;
}
#pix-block {
  width: 100%;
  line-height: 0;
}
#pix-block span {
  display: inline-block;
  position: relative;
  height: 0;
  width: 1%;
  padding-bottom: 1%;
  font-size: 0;
  vertical-align: top;
  outline: 1px solid #000;
}
#canvas-src-image {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}
.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block-code {
  word-wrap: break-word;
  font-family: monospace;
  font-size: 16px;
  height: 500px;
  overflow-y: scroll;
}